/* .dd{
    color:rgb(236, 234, 214);
    background-color:grey;
    font-family:fantasy;
    font-size:3vw;
}
.dd:hover{
    color: lemonchiffon; 
}*/
.head{
    color: rgb(236, 234, 214);
    background-color: grey;
    font-family: 'Fugaz One', cursive;    font-size: 3vw;
    text-align: center;
}
.head:hover{
    color: lemonchiffon;
}
.link{
    background-color:rgb(0, 0, 0);
    text-align: center;
}
.link a{
    text-decoration: none;
    color: lawngreen;
    background-color:rgb(0, 0, 0);
    font-size:3vw;
    font-family: 'Fugaz One', cursive;
}
.back{
    background-color: grey;
    text-align: center;
}
.back a{
    text-decoration: none;
    color:rgb(236, 234, 214);
    background-color:grey;
    font-size:3vw;
    font-family: 'Fugaz One', cursive;
    }
.back a:hover{
    color: lemonchiffon;
}