.marquee{
    background-color: orange;
    size:3vw;   
}
.lin{
    display: inline;
}
.lin>a{
    text-decoration:none;
    font-family: 'Fugaz One', cursive;
    color:green;
    font-size:3vw;    
}
a:hover{
    color: palegreen;
}
.image>img{
    height:19vw;
    width:98.75vw;   
}
.message{
    font-family: 'Fugaz One', cursive;
    color:green;
    background-color:orange;
    height:3vw;
    text-align:center;
    font-size:2.5vw;
    
}
.message:hover{
    color:palegreen;
}
.content{
    font-family: 'Fugaz One', cursive;
    color: rgb(148, 223, 148);
    text-align: center;
    font-size:1.8vw;
    font-style:bold;
    background-color: rgb(0, 0, 0);
    padding:1vw;
}
.check{
    font-family: 'Fugaz One', cursive;
    color:green;
    background-color:orange;
    height:3vw;
    text-align:center;
    font-size:2.5vw;
}
.check:hover{
    color:palegreen;
}    
.video1{
    float: left;
}
.video2{
    float: right;
}
.copyright{
    font-family: 'Fugaz One', cursive;
    color:green;
    height:3vw;
    text-align:center;
    font-size:2.5vw; 
}
.copyright:hover{
    color:palegreen;
}