.head{
    background-color:yellow;
    color:green;
    font-family: 'Fugaz One', cursive;
    font-size: 3vw;
    text-align: center;
}
.head a{
    text-decoration: none;
    color: green;
    background-color: yellow;
    font-size:3vw;
    font-family: 'Fugaz One', cursive;
}
.head:hover{
    color: rgb(173, 171, 151);
}
.video1
position: relative;
width: 100%;
padding-bottom: 56.25%;
height: 0;
}
.video1 iframe{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}
